<%# views/login.ejs %>
<% if(locals.flashMsg) { %>
    <div class="alert alert-danger" role="alert">
        <%= flashMsg %>
    </div>
<% } %>
<div class="row">
    <div class="col-md-6">
        <% if(locals.isLogined) { %>
            <div class="alert alert-primary" role="alert">
                <%= loginUser %> 您好 <a href="/logout">登出</a>
            </div>
        <% } else { %>
            <form method="post">
                <div class="form-group">
                    <label for="user">帳號</label>
                    <input type="text" class="form-control" name="user">
                </div>
                <div class="form-group">
                    <label for="password">密碼</label>
                    <input type="text" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">登入</button>
            </form>
        <% } %>
    </div>
</div>
